---
import config from "../config";
const { title } = Astro.props;

let destTitle: string;
if (title === undefined || title === "") {
  destTitle = config.title;
} else {
  destTitle = title + " | " + config.title;
}
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{destTitle}</title>
